service: serverless-s3-local-example
provider:
  name: aws
  runtime: nodejs12.x
plugins:
  - serverless-s3-local
  - serverless-offline
custom:
  # Uncomment only if you want to collaborate with serverless-plugin-additional-stacks
  # additionalStacks:
  #    permanent:
  #      Resources:
  #        S3BucketData:
  #            Type: AWS::S3::Bucket
  #            Properties:
  #                BucketName: ${self:service}-data
  s3:
    port: 8000
    directory: ./s3-local
    # Uncomment the first line only if you want to use cors with specified policy
    # Uncomment the second line only if you don't want to use cors
    # Not uncomment the these lines only if your wanto use cors with default policy
    # cors: relative/path/to/your/cors.xml
    # website: relative/path/to/your/website.xml
    # Uncomment only if you already have a S3 server running locally
    # noStart: true
functions:
  webhook:
    handler: handler.webhook
    events:
      - http:
          path: /
          method: get
  s3EventResponse:
    handler: handler.s3EventResponse
    events:
      - s3:
          bucket: existing-bucket
          events:
            - s3:ObjectCreated:Put
          existing: true
